@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "mixins";
// @import "../../node_modules/bootstrap/scss/utilities";

@import "utilities";

$new-colors: map-merge-multiple(
  $uvs,
  $polens,
  $crimsons,
  $neon-yellows,
  $darks,
  $lights
);

$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              ($new-colors)
            ),
        )
      ),
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              ($new-colors)
            ),
        )
      ),
  )
);

@import "../../node_modules/bootstrap/scss/root";
@import "shadows";
@import "reboot";
@import "base";
@import "../../node_modules/bootstrap/scss/type";
@import "images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "buttons";
@import "forms";
@import "badge";
@import "header";
@import "article";
@import "card";
@import "../../node_modules/bootstrap/scss/list-group";

@import "../../node_modules/bootstrap/scss/helpers";

@import "extra";

@import "colorFilters";
@import "masks";

@import "../../node_modules/bootstrap/scss/utilities/api";
